/from university/Java/Zad_3/nbproject/private/
/from university/Java/Zad_3/build/
/from university/Java/Zad_01/nbproject/private/
/from university/Java/Zad_01/build/
/from university/Java/Zad_8/nbproject/private/
/from university/Java/Zad_8/build/
/from university/Zad_5/JavaApplication6/nbproject/private/
/from university/Zad_5/JavaApplication6/build/
/from university/Java/JavaApplication7/nbproject/private/
/from university/Java/JavaApplication7/build/
/from university/Java/JavaApplication8/nbproject/private/
/from university/Java/JavaApplication8/build/
/from university/Java/JavaApplication9/nbproject/private/
/from university/Java/JavaApplication9/build/